<!DOCTYPE html>
<html 
xmlns:th="https://thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="utf-8">
	
</head>



<body>
	
	<form action="/salvarEstado" th:object="${estado}" method="POST">
		
		<label>Nome do Estado:</label>
		<input type="text" th:field="*{nome}"/>
		
		<label>Sigla do Estado:</label>
		<input type="text" th:field="*{sigla}"/>
		
		<input type="hidden" th:field="*{id}"/>
		
		<button type="submit">Salvar</button>
	</form>
	
</body>

</html>